UseColor: true
Checks: >
    *,

    # disable struct packing warnings,
    -altera-struct-pack-align,

    # don't manually unroll loops,
    -altera-unroll-loops,

    # don't manually warn about backward branches,
    -altera-id-dependent-backward-branch,

    # allow use of assert,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,

    # don't force wide contracts,
    -cppcoreguidelines-pro-bounds-constant-array-index,

    # allow pointer/iterator arithmetic,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,

    # disable things I want to do,
    -fuchsia-default-arguments-calls,
    -fuchsia-default-arguments-declarations,
    -fuchsia-multiple-inheritance,
    -fuchsia-overloaded-operator,
    -fuchsia-trailing-return,

    # allow references to be returned,
    -google-runtime-references,

    # there's no one else,
    -google-readability-todo,

    # don't warn for tag dispatch,
    -readability-named-parameter,

    # don't use auto* for iterators,
    -readability-qualified-auto,

    # disable project specific checks,
    -android-*,
    -darwin-*,
    -google-objc-*,
    -llvm-header-guard,
    -llvm-include-order,
    -llvm-prefer-*,
    -llvm-twine-local,
    -llvmlibc-*,
    -mpi-*,
    -objc-*,
    -openmp-*,
    -zircon-temporary-objects,

    # disable aliases,
    -cert-con36-c,
    -cert-con54-cpp,
    -cert-dcl03-c,
    -cert-dcl16-c,
    -cert-dcl37-c,
    -cert-dcl51-cpp,
    -cert-dcl54-cpp,
    -cert-dcl59-cpp,
    -cert-err09-cpp,
    -cert-err61-cpp,
    -cert-fio38-c,
    -cert-msc30-c,
    -cert-msc32-c,
    -cert-oop11-cpp,
    -cert-oop54-cpp,
    -cert-pos44-c,
    -cert-pos47-c,
    -cert-sig30-c,
    -cert-str34-c,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-c-copy-assignment-signature,
    -cppcoreguidelines-explicit-virtual-functions,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -fuchsia-header-anon-namespaces,
    -google-readability-braces-around-statements,
    -google-readability-function-size,
    -google-readability-namespace-comments,
    -hicpp-avoid-c-arrays,
    -hicpp-braces-around-statements,
    -hicpp-deprecated-headers,
    -hicpp-explicit-conversions,
    -hicpp-function-size,
    -hicpp-invalid-access-moved,
    -hicpp-member-init,
    -hicpp-move-const-arg,
    -hicpp-named-parameter,
    -hicpp-new-delete-operators,
    -hicpp-no-array-decay,
    -hicpp-no-malloc,
    -hicpp-noexcept-move,
    -hicpp-special-member-functions,
    -hicpp-static-assert,
    -hicpp-undelegated-constructor,
    -hicpp-uppercase-literal-suffix,
    -hicpp-use-auto,
    -hicpp-use-emplace,
    -hicpp-use-equals-default,
    -hicpp-use-equals-delete,
    -hicpp-use-noexcept,
    -hicpp-use-nullptr,
    -hicpp-use-override,
    -hicpp-vararg,
    -llvm-else-after-return,
    -llvm-qualified-auto,

WarningsAsErrors: '*'
HeaderFilterRegex: '^.*/turtle'

CheckOptions:
    - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value: 1
